name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Exam Evaluator
      id: exam-evaluator
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Exam Evaluator
        setup-command: ''
        command: "./ExamEvaluator.ps1"
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        EXAM-EVALUATOR_RESULTS: "${{steps.exam-evaluator.outputs.result}}"
      with:
        runners: exam-evaluator
